/*font-family: 'Catamaran', sans-serif;*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*my code*/
*{
	text-decoration: none;
}

main{
	padding-top: 100px;

}

header{
	background-color: #fff;
	width:100%;
	height:100px;
	position: fixed;
	top:0;
	right:0;
	left:0 ;
}

header .header-logo{
	font-family: 'Catamaran', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #111;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding:20px 0;
}

header nav ul{
	display: block;
	margin: 0 auto;
	width: fit-content;
}

header nav ul li{
	display: inline-block;
	float: left;
	list-style: none;
	padding:0 16px;
}

header nav ul li a{
	font-family: 'Catamaran', sans-serif;
	font-size: 16px;
	color: #111;
	text-transform: uppercase;
}

header .header-cases{
	display: none;
}

@media only screen and (min-width: 1000px) {
	header .header-logo{
		margin: 31px 0;
		text-align: left;
		line-height: 38px;
		padding:0 20px 0 40px;
		border-right: 3px solid #111;
		float:left;
	}	

	header nav ul{
		margin: 20px 0 0 20px;
		float: left;
	}

	header nav ul li a{
		line-height: 60px;
	}

	header .header-cases{
		display: block;
		font-family: 'Catamaran', sans-serif;
		font-size: 16px;
		color: #111;
		text-transform: uppercase;
		line-height: 38px;
		float: right;
		border:1px solid #111;
		margin-right: 40px;
		margin-top: 30px;
		padding: 0 20px;
	}

}

/*index*/

.index-banner{
	width:100%;
	height:calc(100vh - 100px);
	background-image: url("images/codebg2.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: table;
}

.vertical-center{
	display: table-cell;
	vertical-align: middle;	
}

.index-banner h2{
	font-family: 'Catamaran', sans-serif;
	font-size: 60px;
	font-weight: 700;
	line-height: 70px;
	color: #fff;
	text-align: center;
	text-shadow: 3px 3px 8px #111;
	}

.index-banner h1{
	font-family: 'Cormorant Garamond', sans-serif;
	font-size: 28px;
	font-weight:100;
	font-style: italic;
	line-height: 40px;
	color: #fff;
	text-align: center;
	text-shadow: 3px 3px 8px #111;
	}

.index-links div{
	margin:16px 16px 0;
	width: calc(100% - 32px);
	height: 100px;
	background-color: #f2f2f2
}

.index-links div h3{
	font-family: 'Catamaran', sans-serif;
	font-size: 28px;
	font-weight:700;
	line-height: 100px;
	color: #111;
	text-align: center;
	text-transform: uppercase;
}

@media only screen and (min-width: 1000px) {
	.wrapper{
		width:1000px;
		margin: 0 auto;
	}
	.index-banner{
		width:100%;
		height:450px;
	}

	.index-banner h1{
		display: block;
		width: 560px;
		margin: 0 auto;
	}	

	.index-links div{
		margin:20px 10px 0;
		height: 230px;
		background-color: #f2f2f2;;
		float: left;
	}

	.index-links {
		overflow: hidden;
	}

	.index-boxlink-square{
		width: calc(25% - 20px) !important;
	}

	.index-boxlink-rectangle{
		width: calc(50% - 20px) !important;
	}

	.index-links div h3{
		line-height: 230px;
	}
}

@media only screen and (max-width: 900px){
	.wrapper-two{
		display: flex;
		flex-wrap: wrap;
		padding: 0 4px;
		justify-content: center;
	}

	.project-link{
		width: auto;
		height: 100%;
		flex: none;
		overflow: hidden;
		margin-left: 5px;
	}

	.project-links h2{
		text-align: center;
	}

}


/*cases*/

.wrapper-two{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.project-links .project-link{
	width: 317px;
	height: 317px;
	background-color: #e3e3e3;
}

.project-link{
	overflow: hidden;
	margin-bottom: 20px;
	margin-right: 4px;
}

.project-links h2{
	font-family: 'Catamaran', sans-serif;
	font-size: 28px;
	font-weight:700;
	color: #111;
	text-transform: uppercase;
	text-align: center;
}

.project-links .project-link p{
	padding-top: 45%;
	font-family: 'Catamaran', sans-serif;
	font-size: 24px;
	font-weight:700;
	color: #111;
	text-align: center;
	text-transform: uppercase;
}

/*projects*/
.project-clone img{
	display: block;
	margin: 0 auto;
	padding: 30px 0;
	width: 65%;
	height: auto;

}
.project-clone h2{
	font-family: 'Catamaran', sans-serif;
	font-size: 28px;
	font-weight:700;
	color: #111;
	text-align: center;
	text-transform: uppercase;
}

.project-clone article h3{
	font-family: 'Catamaran', sans-serif;
	font-size: 28px;
	font-weight:700;
	color: #111;
	text-transform: uppercase;
}

.project-clone article div p{
	font-family: 'Catamaran', sans-serif;
	font-size: 16px;
	font-weight:700;
	line-height: 24px;
	color: #111;
	padding-bottom: 20px;
	column-count: 3;
	column-gap: 20px;
}

@media only screen and (max-width: 900px){
	.project-clone article div p{
		font-family: 'Catamaran', sans-serif;
		font-size: 16px;
		font-weight:700;
		line-height: 24px;
		color: #111;
		padding-bottom: 20px;
		column-count: 1;
		width: 70%;
		text-align: center;
		margin: 0 auto;
	}	
	.project-clone article h3{
	font-family: 'Catamaran', sans-serif;
	font-size: 28px;
	font-weight:700;
	color: #111;
	text-transform: uppercase;
	text-align: center;
}
}

/*footer*/

footer{
	width: calc(100% - 80px);
	padding:40px 40px;
	margin-top: 20px;
	background-color: #111;
	overflow: hidden;
}

footer ul{
	width: fit-content;
	float: left;
	padding-left: 20px;
}

footer ul li{
	display: block;
	list-style: none;

}

footer ul li a{
	font-family: 'Catamaran', sans-serif;
	font-size: 16px;
	color: #FFF;
	line-height: 40px;
}

.footer-links-works{
	display: none
}

.footer-sm{
	float:right;
	color:#fff; 
	font-family: 'Catamaran', sans-serif;
	font-size: 16px;
	color: #FFF;
	line-height: 40px;
}

.footer-sm p{
	width:100%;
	margin-bottom: 10px;
}

@media only screen and (min-width: 1000px){
	.footer-links-works{
		display: block;
	}

	footer ul{
		padding-right:30px;
	}

	footer ul li p{
		font-family: 'Catamaran', sans-serif;
		font-size: 16px;
		color: #FFF;
		line-height: 40px;
		text-transform: uppercase;
	}
}